* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fullscreen img {
  width: 100vw;
  height: 100vh;
  min-width: auto;
  min-height: auto;
  position: fixed;
  left: -200px;
  z-index: -1;
}
@media (min-width: 769px) {
#fullscreen img {
  left: 0;
 
}
/* ** */}

/*.header-bg {*/
/*  background-image: url("image/hajimete1");*/
/*  background-position: center center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  height: 100vh;*/
/*}*/

.navbar-static-top {
    border-radius: 0;
    margin-bottom: -20px;}
    
    
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    margin-bottom:0;
   
}



.button{
  display: block;
  height: 50px;
  width: 200px;
  font-size:50px; 
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 1px #e9e9e9;
  -moz-box-shadow: 1px 1px 1px #e9e9e9;
  box-shadow: 1px 1px 1px #e9e9e9;
  background: #e4016f;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4016f), to(#f13690));
  background: -moz-linear-gradient(top, #e4016f, #f13690);
  background: -o-linear-gradient(top, #e4016f, #f13690);
  background: -ms-linear-gradient(top, #e4016f, #f13690);
  background: linear-gradient(top, #e4016f, #f13690);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e4016f', endColorstr='#f13690');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e4016f', endColorstr='#f13690')";
}
.button:active{  /* クリックした時 */
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: none;
}

.button{
  position: fixed;
 bottom: 20px;
 right: 15px;
}