* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fullscreen img {
  width: 100vw;
  height: 100vh;
  min-width: auto;
  min-height: auto;
  position: fixed;
  left: -200px;
  z-index: -1;
}
@media (min-width: 769px) {
#fullscreen img {
  left: 0;
 
}
/* ** */}

/*.header-bg {*/
/*  background-image: url("image/hajimete1");*/
/*  background-position: center center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  height: 100vh;*/
/*}*/

.navbar-static-top {
    border-radius: 0;
    margin-bottom: -20px;}
    
    
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    margin-bottom:0;
   
}



.button{
  display: inline-block;
    padding: 20px 40px;
	border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    background-image: linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    transition: .4s;
    position:absolute;
  	bottom:200px;
	  text-align:center;
	  margin-left : 530px ; 
	  
}
.button:active{  /* クリックした時 */
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: none;
}

.button:hover {
    background-image: -webkit-linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    background-image: linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
}
.button{
  position: fixed;
 bottom: 20px;
 right: 15px;
}


/*havefun*/
.havefun_button{
    display: inline-block;
    padding: 20px 40px;
	border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    background-image: linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    transition: .4s;
    position:absolute;
  	bottom:200px;
	  text-align:center;
	  margin-left : 530px ; 
	  
	
	
}

.havefun_button:hover {
    background-image: -webkit-linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    background-image: linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
}


/*戻るボタン*/

.back_btn{  display: inline-block;
    padding: 20px 40px;
	border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FAA5E9 0%, #F00DC3 100%);
    background-image: linear-gradient(45deg, #FAA5E9  0%, #F00DC3 100%);
    transition: .4s;
    position:absolute;
  	bottom:200px;
    text-align:center;
    margin-left : 530px ;
	  
}

.back_btn{
position: fixed;
 bottom: 20px;
 right: 150px;
}
 


.back_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FAA5E9  0%, #F00DC3 100%);
    background-image: linear-gradient(45deg, #FAA5E9  0%, #F00DC3 100%);
}



