body {
    background-image: url("rina_aki1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
}

h1 {
    text-align: center;
}

h1, h5, p{
    font-family: "メイリオ", sans-serif;
    font-weight: bold;
}

.pt20{
  padding-top: 20px;
}



.rina_aki {
    padding: 20px;
    margin: 40px 0;
    width: 100%;
    background: #9acce3;
    border-radius: 8px;
    color: #724938;
}

/*ここから下がチェックボックス*/
/*.checkbox-wrap{*/
/*}*/
.label-checkbox input[type="checkbox"]{
  display: none;
  
}
.label-checkbox{
  float: left;
  cursor: pointer;
  display: inline-block;
  /*position: relative;*/
}
.label-checkbox .lever{
　font-family: 'fantasy';
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 8px 40px;
  border: 1px solid orange;
  border-radius:20px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.label-checkbox .lever:before{
  /*content:'';*/
  position: absolute;
  /*left: 4px;*/
  /*top:4px;*/
  border: 1px solid #e5e5e5;
  background: #fff;
  /*width: 30px;*/
  /*height: 30px;*/
  border-radius:100%;
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.label-checkbox:hover .lever:before{
   border-color: #ffa500;
}
.label-checkbox input[type="checkbox"]:checked + .lever{
   background: #ffa500;
   color: #fff;
}
.label-checkbox input[type="checkbox"]:checked + .lever{
   border-color:#ffa500;
}
.label-checkbox input[type="checkbox"]:checked + .lever:before{
   left: 100%;
   margin-left: -44px;
   border-color: #ffa500;
}
/*ここまでチェックボックス*/




/*この下はラジオボックス*/
/*.radio-wrap{*/
  
/*}*/
.label-radio input[type="radio"]{
  display: none;
}
.label-radio{
  float: left;
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
}
.lavel .label-radio {
    display: inline-block;
}

.label-radio .lever:before{
  content:'';
  border: 2px solid #ffa500;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius:10px;
  -webkit-transition: all 800ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 800ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 800ms cubic-bezier(1, 0, 0, 1);
  transition: all 800ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.label-radio input[type="radio"]:checked + .lever:before{
  opacity: 0;
  background:  #9acce3;
  border-color:  #9acce3;
  transform:scale(2);
}
.label-radio .lever:after{
  content:'';
  opacity: 0;
  position: absolute;
  left: 8px;
  top: 0px;
  width:8px;
  height: 16px;
  border-right: 2px solid  #9acce3;
  border-bottom: 2px solid  #9acce3;
  transform:rotate(-200deg);
  -webkit-transition: all 400ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 400ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 400ms cubic-bezier(1, 0, 0, 1);
  transition: all 400ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.label-radio input[type="radio"]:checked + .lever:after{
  opacity: 1;
  position: absolute;
  left: 8px;
  top: 0px;
  width:8px;
  height: 16px;
  border-right: 2px solid #ffa500;
  border-bottom: 2px solid #ffa500;
  transform:rotate(40deg);
}
/*ここまでラジオボックス*/







/*ここからpostのCSSだよ*/


.posts {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #9acce3;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 24%;
     border: solid 14px white;/*線*/ 
    border-radius: 40px;/*角の丸み*/
    
}

.posts p {
    margin: 0; 
    padding: 0;
}



.sample-box-11 {
    background-color: #fff;
    margin: 2em 0;
    padding: 2em;
    position: relative;
    z-index: 1;
}
.sample-box-11::before,
.sample-box-11::after {
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.sample-box-11::before {
    background-color: rgba(255, 255, 255, .5);
    left: 0;
    top: 0;
    z-index: -1;
}
.sample-box-11::after {
    background-color: #a4f5c8;
    top: 5px;
    left: 5px;
    z-index: -2;
}

a {
    color: white;
    text-decoration: none;
}
/*ここまでpostのCSS(りな)*/

.pagetop
    {
    position: fixed;
    bottom: 16px;
    right: 16px;
    }
    
.pagetop img {
    width: 80px;
    height: 80px;
    animation: pulse_460 4s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes pulse_460 {
  0% { transform: scale(1.1) }
  25% { transform: scale(0.8) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1.1) }

}
 
.pagetop a
    {
    display: block;
    text-decoration: none;
    }
 
.pagetop:hover
{
    opacity: 0.85 ;
}

.btn{
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 0.25em 0;
   text-decoration: none;
   color: white;  
   width:100px; 
}
.btn:before{
       position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#550000;
   transition: .2s;
}
.btn:hover:before{
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

.nextbtn {
    
    text-align: center
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.kochira_img{
    width:55%;
    height:55%;
    margin-bottom:25px;
}

/*詳しく*/
.kochira_img{
    width:55%;
    height:55%;
    margin-bottom:25px;
}





/*このしたが詳細ページの外枠だよ（りな）*/
.sample_box3_1 {
    position: relative;
    padding: 1em 1.5em;
    margin: 2em 0;
    border: solid 10px #8FA368;/*線*/
    border-radius: 40px;/*角の丸み*/
    font-family: "メイリオ", sans-serif;
    font-weight: bold;
    color: white;/*文字*/
    background-color:#4d639f; 
}
.sample_box3_1 .sample_box_title{
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    font-size: 1.3em;/*タイトル文字サイズ*/
    
  
    
    font-family: "メイリオ", sans-serif;
    color:white;/*タイトル文字色*/
    font-weight: bold;
}
.sample_box3_1 p {
    margin: 0; 
    padding: 0;
}

/*このしたが箇条書きの装飾だよ（りな）*/

ol {
    list-style-type: none;
    list-style-image: url('mini.hiima.logo.png');
    padding-left:100px;
  }
