body{
    background-image: url("login_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.text-center{
    font-family: 'Amatic SC', cursive;    
}

.row{
    font-family: 'Amatic SC', cursive;  
}